# Server directories and files
Server/bucket_storage/
Server/build/
Server/dist/
Server/server.log
Server/server_data.db
Server/App/

# Client directories
Client/build/
Client/dist/
Client/App/

# Virtual environment
myenv/
